h2 {
    color: rgba(0, 0, 128, 0.99);
    font-size: 30px;
}

p {
    color: rgb(36,71,179);
    font-size: 15px;
}

/* Создайте html документ с 20 элементами <h2> и 20 элементами <p>. Используйте inline CSS внутри каждого
элемента. Задайте цвет и размер текста. Найдите информацию в интернете о различных способах установки
свойства CSS color. Затем измените цвет и размер текста каждого элемента.

Проделайте тоже самое при помощи internal CSS(внутри элемента <head>) и external CSS(в отдельном файле) */